{% extends 'musician_app/base.html' %}
{% block body_block %}
<h3>Artist Name: {{ artist_info.first_name }} {{ artist_info.last_name }}</h3>
<h4>Instrument: {{ artist_info.instrument }}</h4>
<h4>Artist Rating: {{ artist_ratings.ratings__avg }}</h4>
<br >
<h5 >List of Album:</h5 >
<table class="table table-bordered">
	<tr>
		<th >Album Name</th >
		<th >Release Date</th >
		<th >Ratings</th >
	</tr>
	{% for album in album_list %}
	<tr>
		<td ><a href = "{% url 'musician_app:edit_album' album_id=album.id %}" >{{ album.name }}</a > </td >
		<td >{{ album.release_date|date:"M d Y" }}</td >
		<td >{{ album.ratings }}</td >
	</tr>
	{% endfor %}
</table>
<a href = "{% url 'musician_app:edit_artist' artist_id=artist_info.id %}" class="btn btn-outline-dark btn-sm">Edit</a >
<br >
<br >
<a href = "{% url 'musician_app:delete_artist' artist_id=artist_info.id %}" class="btn btn-outline-danger btn-sm"
   onclick="return confirm('Are You Sure? You Want to Delete the Artist!')">Delete</a >
{% endblock %}