{% extends 'musician_app/base.html' %}
{% block body_block %}
<h5>Edit Album:</h5>
{% if success_text %}
<div class="alert alert-success">{{ success_text }}</div>
{% endif %}
<form method="POST" >
	{{ edit_form.as_p }}
	{% csrf_token %}
	<input type = "submit" name = "submit" value = "Update" class="btn btn-outline-success btn-sm">
</form >
<br >
<a href = "{% url 'musician_app:delete_album' album_id=album_id %}" class="btn btn-outline-warning btn-sm"
   onclick="return confirm('Are You Sure? You Want to Delete the Album!')">Delete</a >
{% endblock %}